@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 400;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .btn {
    color: #FFF;
    border-radius: 6px;
    background-color: #3A5F56;
    padding: 10px 18px;
  }
  
  .header__wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  .header__box {
    display: flex;
    align-items: center;
  }
  .header__menu {
    display: flex;
  }
  .header__link {
    color: #3A5F56;
    font-size: 16px;
  }
  .header__link:hover {
    color: rgb(255, 174, 0);
  }
  .header__item {
    margin-right: 30px;
  }
  .header__cart {
    display: flex;
    gap: 8px;
  }
  .header__cart::before {
    content: "";
    background: url("../img/cart.png");
    display: block;
    width: 17px;
    height: 17px;
  }
  .header__cart::after {
    content: "0";
    color: #3A5F56;
    background-color: #FFF;
    border-radius: 50%;
    padding: 0 6px;
  }
  .header__cart:hover {
    color: rgb(255, 174, 0);
  }
  
  .main {
    background: url(../img/Frame.png) no-repeat center center/cover;
    padding: 100px 0;
  }
  .main__wrap {
    display: flex;
    gap: 64px;
    align-items: center;
  }
  .main__title {
    color: #3A5F56;
    font-size: 48px;
    margin-bottom: 15px;
    width: 477px;
  }
  .main__text {
    color: #3A5F56;
    font-size: 16px;
    margin-bottom: 27px;
    width: 534px;
  }
  
  .services {
    padding: 100px 0;
  }
  .services__title {
    color: #3A5F56;
    font-size: 32px;
    margin-bottom: 11px;
    padding-top: 20px;
    text-align: center;
  }
  .services__text {
    color: #292C32;
    font-size: 16px;
    max-width: 590px;
    margin: 0 auto;
    margin-bottom: 17px;
  }
  .services__text_center {
    text-align: center;
  }
  .services__row {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .services__card {
    max-width: 378px;
    border-radius: 16px;
    background-color: #f4f3f0;
    padding: 30px;
  }
  .services__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 9px;
  }
  .services__subtitle {
    color: #3A5F56;
    font-size: 24px;
    margin-bottom: 6px;
  }
  .services__read {
    color: #3A5F56;
    font-size: 17px;
    align-items: center;
    gap: 5px;
  }
  .services__read::after {
    content: "";
    background: url("../img/arrow.png") no-repeat center center/cover;
    display: block;
    width: 20px;
    height: 10px;
  }

.present{
    background-color: #F4F3F0;
      
}


.present__title{
    color: #DB343B;
    font-size: 32px;
    margin-bottom: 11px;
    text-align: center;
    padding-top: 36px ;
}
.arrow{
  margin-top: 70px;
}

.present__card{
    max-width: 379px;
    max-height: 438px;
    border-radius: 16px;
    background-color: #fff;
}

.present__row{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.present__card__img{
    width: 379px;
    height: 252px;
}

.present__subtitle{
    font-size: 24px;
    color: #3A5F56;
    margin-top: 30px;
    margin-left: 30px;
}
.present__text{
    max-width: 308px;
    font-size: 16px;
    color: #3A5F56;
    margin-top: 18px;
    margin-left: 30px;
}
.present__link{
    color: #3A5F56;
    font-size: 17px;
    text-align: center;
    margin-top: 36px;
}

.present__link::after {
    content: "";
    background: url("../img/arrow.png") no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    width: 20px;
    height: 10px;
  }

  .contact {
    background-color: #f7f7f7;
    padding: 40px 0;
  }
  
  .contact__box {
    max-width: 800px;
    height: 259px;
    margin: 0 auto;
    padding: 20px;
    background-color:#F4F3F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
  }
  
  .contact__title {
    font-size: 28px;
    max-width: 313px;
    max-height: 101px;
    margin-left: 30px;
    color: #292C32;
  }
  
  .contact__btn {
    margin-right: 30px;
    margin-top: -40px;
  }
  
  .contact__button {
    width: 125px;
    height: 58px;
    background-color: #3A5F56;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
  
